// colors:
// GREEN: #3C5F52
// BLUE: #3B4264
// GOLD: #B0A26C
// BEIGE: #E9E4D9

@import 'index.scss';

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: #3B4264;
    background: #E9E4D9;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

a {
    color: #3B4264;

    &[aria-current='page'] {
        color: #3C5F52;
    }
}

.navbar {
    // font-family: 'Work Sans', sans-serif;
    font-size:1.5vw;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    margin-bottom: 8vw;

    ul {
        // background-color: white;
        list-style-type: none;
        margin: auto;
        padding: 20px;
        overflow: hidden;
        width: 95%;

        #name {
            float: left;
            color: #3B4264
        }

        li a {
            display: block;
            text-align: center;
            padding: 16px,;
            text-decoration: none;   
            float: right;
        }

         li a:hover {
            color: #3C5F52;
        }

    }
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 5;
}